#cabecera {
    text-align: center;
    margin: 10% 20%;
    background-color: black;
    color: red;
    padding: 1%;
}

.container {
    height: 4rem;
    margin: 2rem;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
iframe { 
    width: 150px;
    height: 150px;
}
.navegacion {
   margin-top: 250px;
   background-color: orange;
   padding-top: 1rem;
   margin-bottom: 2rem;
}

#footer {
    text-align: center;
    background-color: red;
    margin: auto 150px;
}